<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../dist/vue.js"></script>
</head>
<body>
    <div id="demo">
        <h1>Vue组件化机制与compile</h1>
        <p v-if="foo">{{foo}}</p>
        <span v-for="a in arr" :key="a.id"></span>
        <comp></comp>
    </div>

    <script>
        Vue.component('comp', {
            template: "<div>I am Comp</div>"
        })

        const app = new Vue({
            el: "#demo",
            data: {foo: 'foo', arr: [1, 2, 3]}
        })
        // 输出render函数
        console.log(app.$options.render)    
    </script>
</body>
</html>